argcomplete
argon2-cffi
attrs
backcall
bleach
cached-property
certifi
cffi
charset-normalizer
click
colorama
cycler
debugpy
decorator
defusedxml
entrypoints
filelock
future
googledrivedownloader
h5py
h5py-wrapper
hdfdict
huggingface-hub
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
isodate
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-widgets
kiwisolver
littleutils
MarkupSafe
matplotlib
matplotlib-inline
mistune
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
numpy
ogb
outdated
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
ptyprocess
pycparser
Pygments
pyparsing
pyrsistent
pytest-runner
python-dateutil
pytz
PyYAML
pyzmq
qtconsole
QtPy
rdflib
rdkit-pypi
regex
requests
sacremoses
scikit-learn
scipy
Send2Trash
sentence-transformers
sentencepiece
six
terminado
testpath
threadpoolctl
tokenizers
tornado
tqdm
traitlets
transformers
typing-extensions
urllib3
validators
wcwidth
webencodings
widgetsnbextension
yacs
zipp
opencv-python
wget
Cython
nemo_toolkit
